In [131]:
import numpy as np
import pandas as pd
from characters.sparkle import Sparkle
from characters.qingque import Qingque
from characters.silver_wolf import Silver_Wolf
from characters.fu_xuan import Fu_Xuan
from simulations.qingque_mono_quantum import QQ_Mono_Quantum, Initialize_QQ_Mono_Quantum
from utils.arena import Arena
from utils.data_table import Action_Table, Qingque_Probability_Table

# Character Imports

In [132]:
qingque_speed = 98

In [133]:
silver_wolf_speed = 161

In [134]:
sparkle_speed = 160.1

In [135]:
fu_xuan_speed = 134
fu_xuan_technique = True

# Simulations

In [136]:
arena, qq, spk, sw, fx = Initialize_QQ_Mono_Quantum(qingque_speed=qingque_speed, fu_xuan_speed=fu_xuan_speed, sparkle_speed=sparkle_speed, silver_wolf_speed=silver_wolf_speed)

In [137]:
action_dataframe = Action_Table()
probability_dataframe = Qingque_Probability_Table()

In [138]:
QQ_Mono_Quantum(arena, qq, spk, sw, fx, action_df=action_dataframe, prob_df= probability_dataframe)

P to beat is 0.7517598493009499
Did QQ win with 0.1357740755555679?
Did QQ win with 0.4923834018383347?
Did QQ win with 0.760620130983312?
Success!
Draws = 3
SP Consumed = 2
P to beat is 0.27765975393349085
Did QQ win with 0.30035761469146494?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.9625291148908678
Did QQ win with 0.30035761469146494?
Did QQ win with 0.6478368980660881?
Did QQ win with 0.838859869950386?
Did QQ win with 0.9278302338907004?
Did QQ win with 0.9678279013890434?
Success!
Draws = 5
SP Consumed = 4
P to beat is 0.3168636619075088
Did QQ win with 0.30035761469146494?
Failure!
SP Consumed = 0
P to beat is 0.7343038334377743
Did QQ win with 0.8388598699503858?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.2506605125311465
Did QQ win with 0.30035761469146494?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.1702760785160906
Did QQ win with 0.1357740755555679?
Did QQ win with 0.4923834018383347?
Success!
Draws = 2
SP Consumed = 1
P to beat is 0.5816405399073227
Did QQ win with 0.30035761469146494?
Did QQ win with 0.6478368980660881?
Success!
Draws = 2
SP Consumed = 1
P to beat is 0.18216359855084796
Did QQ win with 0.30035761469146494?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.21176968277326313
Did QQ win with 0.30035761469146494?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.9532794356148028
Did QQ win with 0.30035761469146494?
Did QQ win with 0.6478368980660881?
Did QQ win with 0.838859869950386?
Did QQ win with 0.9278302338907004?
Did QQ win with 0.9678279013890434?
Success!
Draws = 5
SP Consumed = 4
P to beat is 0.9026812143179495
Did QQ win with 0.30035761469146494?
Did QQ win with 0.6478368980660881?
Did QQ win with 0.838859869950386?
Did QQ win with 0.9278302338907004?
Success!
Draws = 4
SP Consumed = 3
P to beat is 0.5792089029173657
Failure!
SP Consumed = -1
P to beat is 0.012381650486230633
Did QQ win with 0.8388598699503858?
Success!
Draws = 1
SP Consumed = 0
P to beat is 0.2849635709131565
Did QQ win with 0.1357740755555679?
Did QQ win with 0.4923834018383347?
Success!
Draws = 2
SP Consumed = 1
P to beat is 0.9593151974504428
Did QQ win with 0.30035761469146494?
Did QQ win with 0.6478368980660881?
Did QQ win with 0.838859869950386?
Did QQ win with 0.9278302338907004?
Failure!
SP Consumed = 3

c:\Users\rainf\OneDrive\Documents\Git Projects\HSR_Action_Simulator-1\utils\data_table.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.df = pd.concat([self.df, pd.DataFrame([new_row])], ignore_index = True)
c:\Users\rainf\OneDrive\Documents\Git Projects\HSR_Action_Simulator-1\utils\data_table.py:28: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.df = pd.concat([self.df, pd.DataFrame([new_row])], ignore_index = True)

# Results

## Action List

In [139]:
pd.set_option("display.max_rows", None)
#action_dataframe.df

## QQ Probability List

In [140]:
probability_dataframe_styled = probability_dataframe.df.style.set_caption(f"Qingque speed = {qingque_speed}, Sparkle speed = {sparkle_speed}, Silver Wolf Speed = {silver_wolf_speed}, Fu Xuan speed = {fu_xuan_speed}")
probability_dataframe_styled

# Looped Simulation