In [1]:
import numpy as np
import pandas as pd
from characters.qingque import Qingque
from utils.arena import Arena

In [2]:
arena = Arena()
qq = Qingque(arena = arena)

In [3]:
qq.check_hh(3,3)

In [4]:
qq.state_vector

0

In [5]:
qq.sp_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,0.037037,0.037037,0.074074,0.111111,0.259259,0.296296,0.333333,0.444444,0.703704,0.703704,1.0
2,0.263374,0.263374,0.366255,0.419753,0.337449,0.353909,0.345679,0.296296,0.164609,0.164609,0.0
3,0.347508,0.347508,0.294467,0.252401,0.215821,0.190215,0.175583,0.142661,0.07316,0.07316,0.0
4,0.191028,0.191028,0.145506,0.119494,0.103236,0.088198,0.080476,0.064624,0.032515,0.032515,0.0
5,0.088966,0.088966,0.066295,0.053921,0.046696,0.039606,0.036038,0.028857,0.014451,0.014451,0.0
6,0.039992,0.039992,0.029645,0.024055,0.020844,0.017648,0.016047,0.012841,0.006423,0.006423,0.0
7,0.017795,0.017824,0.013196,0.010701,0.009274,0.007848,0.007135,0.005709,0.002855,0.002855,0.0

In [6]:
qq.success_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,0.037037,0.037037,0.074074,0.111111,0.259259,0.296296,0.333333,0.444444,0.703704,0.703704,1.0
2,0.263374,0.263374,0.366255,0.419753,0.337449,0.353909,0.345679,0.296296,0.164609,0.164609,0.0
3,0.347508,0.347508,0.294467,0.252401,0.215821,0.190215,0.175583,0.142661,0.07316,0.07316,0.0
4,0.191028,0.191028,0.145506,0.119494,0.103236,0.088198,0.080476,0.064624,0.032515,0.032515,0.0
5,0.088966,0.088966,0.066295,0.053921,0.046696,0.039606,0.036038,0.028857,0.014451,0.014451,0.0
6,0.039992,0.039992,0.029645,0.024055,0.020844,0.017648,0.016047,0.012841,0.006423,0.006423,0.0
7,0.017795,0.017824,0.013196,0.010701,0.009274,0.007848,0.007135,0.005709,0.002855,0.002855,0.0

In [7]:
qq.fail_table

,0-0-0,1-0-0,1-1-0,1-1-1,2-0-0,2-1-0,2-1-1,2-2-0,3-0-0,3-1-0,4-0-0
1,0.962963,0.962963,0.925926,0.888889,0.740741,0.703704,0.666667,0.555556,0.296296,0.296296,0.0
2,0.699588,0.699588,0.559671,0.469136,0.403292,0.349794,0.320988,0.259259,0.131687,0.131687,0.0
3,0.35208,0.35208,0.265203,0.216735,0.187471,0.159579,0.145405,0.116598,0.058528,0.058528,0.0
4,0.161053,0.161053,0.119697,0.097241,0.084235,0.071381,0.064929,0.051974,0.026012,0.026012,0.0
5,0.072087,0.072087,0.053402,0.04332,0.037539,0.031776,0.028891,0.023116,0.011561,0.011561,0.0
6,0.032095,0.032095,0.023757,0.019265,0.016695,0.014128,0.012844,0.010276,0.005138,0.005138,0.0
7,0.0143,0.014271,0.010561,0.008563,0.007421,0.00628,0.005709,0.004567,0.002284,0.002284,0.0

In [8]:
qq.state_table

,4-0-0,3-1-0,3-0-0,2-2-0,2-1-1,2-1-0,2-0-0,1-1-1,1-1-0,1-0-0,0-0-0
Tiles Drawn,,,,,,,,,,,
1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.0,0.0
2,0.00,0.00,0.00,0.00,0.00,0.00,0.33,0.00,0.67,0.0,0.0
3,0.00,0.00,0.11,0.00,0.00,0.67,0.00,0.22,0.00,0.0,0.0
4,0.04,0.30,0.00,0.22,0.44,0.00,0.00,0.00,0.00,0.0,0.0
5,0.14,0.49,0.00,0.37,0.00,0.00,0.00,0.00,0.00,0.0,0.0
6,0.30,0.58,0.00,0.12,0.00,0.00,0.00,0.00,0.00,0.0,0.0
7,0.49,0.47,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.0,0.0
8,0.65,0.34,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.0,0.0
9,0.76,0.23,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
10,0.84,0.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
11,0.89,0.11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
12,0.93,0.07,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
13,0.95,0.05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
14,0.97,0.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
15,0.98,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0